doctype
html
	include block/head
	body
		//- Комментарий, будет виден только в исходном коде
		// Комментарий, будет виден и в html тоже
		div.container
			div.row
				.col-xl-12
					a(href="/chat.html") Чат
		