.chat {
	padding-top: 58px;
	padding-bottom: 106px;
}
.chat__title {
	font-size: rem(24);
	color: $text-color;
	margin-bottom: 23px;
}
.chat-app {
	border: 1px solid #e5eaec;
}
.chat-app-top {
	height: 52px;
	border-bottom: 1px solid #e5eaec;
	&__left {
		display: flex;
		justify-content: flex-start;
	}
	&__button {
		position: relative;
		&:before {
			content: '';
		}
		&--settings {
			width: 47px;
			border-right: 1px solid #e5eaec;
			&:before {
				@include absolute-center;
				background-image: url(../images/settings-icon.png);
				width: 21px;
				height: 21px;
			}
		}
		&--more {
			width: 56px;
			height: 100%;
			&:before {
				@include absolute-center;
				background-image: url(../images/more-icon.png);
				width: 22px;
				height: 6px;
			}		
		}		

	}

	&__right {
		display: flex;
		justify-content: space-between;
	}
	&__user-name {
		font-family: 'PTSans-Regular';
		color: $light-violet;
		margin-left: 9px;
		padding-left: 10px;
		position: relative;
		padding-top: 15px;
		padding-bottom: 13px;
		width: 97%;
		&:hover {
			text-decoration: none;
		}
		&:before {
			content: '';
			left: 0;
			@include vertical-center;
			width: 5px;
			height: 5px;
			background-color: $green;
			border-radius: 50%;
		}
	}

}
.chat-app-top-search {
	position: relative;
	border-right: 1px solid #e5eaec;
	width: 319px;
	&:before {
		background: url(../images/search-icon.png) no-repeat;
		width: 19px;
		height: 19px;
		content: '';
		@include vertical-center;
		left: 12px;
	}	
	&__field {
		padding-left: 42px;
		line-height: 49px;
	}
}

.chat-app-main-dialog {
	padding: 13px 17px 12px 10px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e5eaec;
	&:focus,
	&:hover {
		text-decoration: none;
	}
	&:last-child {
		border-bottom: none;
	}
	&--active {
		background-color: #eef9fb;
		border-bottom-color: #d6e6ea;
		border-left: 4px solid $light-blue;
		padding-left: 6px;
	}
	&--unread {
		border-bottom-color: $gray;
	}
	&__avatar {
		width: 55px;
		img {
			display: block;
			border-radius: 8px;
			width: 55px;
			height: 55px;
		}
	}
}
.chat-app-main-dialog-text {
	width: 204px;
	overflow: hidden;
	&__peer-title {
		font-family: 'OpenSans-Semibold';
		font-size: rem(14);
		color: $text-color;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	&__msg {
		font-family: 'PTSans-Regular';
		color: $light-violet;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

}
.chat-app-main-dialog-meta {
	width: 66px;
	text-align: right;
	&__date {
		font-size: rem(12);
		font-family: 'PTSans-Regular';
		color: #969a9d;
	}
	&__unread {
		padding: 4px 7px 2px;
		min-width: 27px;
		background-color: #ff7263;
		font-size: rem(14);
		font-family: 'PTSans-Bold';
		color: $white;
		line-height: 1;
		border-radius: 3px;
		display: inline-block;
	}	
}

.chat-app-main-history {
	background-color: #f5f5f5;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	height: 439px;
	&__date {
		padding-top: 23px;
		font-size: rem(14);
		color: $blue;
		text-align: center;
		margin-bottom: 47px;
	}
	&__wrapper-msg {
		margin-bottom: 20px;
		display: flex;
		&--right {
			justify-content: flex-end;
		}
	}
}
.chat-app-main-history-msg {
	display: flex;
	justify-content: space-between;
	width: 68%;
	&--reverse {
		flex-direction: row-reverse;
	}
}
.chat-app-main-history-msg-avatar {
	width: 35px;
	&__image {
		margin-bottom: 6px;
		display: block;
		img {
			display: block;
			border-radius: 3px;
			width: 35px;
			height: 35px;
		}
	}
	&__date {
		font-family: 'PTSans-Regular';
		font-size: rem(14);
		color: $blue;
		text-align: center;
	}
}
.chat-app-main-history-msg-content {
	font-size: rem(14);
	font-family: 'OpenSans-Regular';
	color: $text-color;
	width: 436px;
	padding: 13px 34px 10px 10px;
	background-color: $white;
}
.chat-app-main-bottom {
	display: flex;
	justify-content: flex-start;
	&__field {
		padding-left: 15px;
		height: 47px;
		width: 95%;
	}
}
.chat-app-main-bottom-form-attachment {
	line-height: 46px;
	width: 46px;
	border-left: 1px solid #e5eaec;
	&__button {
		
	}
}