$blue-header: #4f5a6e;
$gray: #ccd5da;
$gray-breadcrumb: #b2b2b2;
$gray-breadcrumb-active: #696969;
$white: #fff;
$link-color: #a1acbe;
$light-blue: #25b6d2;
$post-footer-bg: #ebeff2;
$text-color: #444444;
$black: #000;
$light-violet: #98a0b7;
$blue: #537599;
$green: #03a678;
$grey-light: #d5d5d5;
$red: #f64747;
$yellow: #f9bf3b;
$light-silver: #f5f7f8;
$vk-color: #48729e;
$twitter-color: #00aced;
$facebook-color: #48729e;
$odn-color: #ff9f4d;
