@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Lato-Regular.woff') format('woff'), 
       url('../fonts/Lato-Regular.ttf')  format('truetype'), 
       url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;     
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/OpenSans-Regular.woff') format('woff'), 
       url('../fonts/OpenSans-Regular.ttf')  format('truetype'), 
       url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;     
}
@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/ptsans-webfont.eot');
  src: url('../fonts/ptsans-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ptsans-webfont.woff2') format('woff2'),
       url('../fonts/ptsans-webfont.woff') format('woff'),
       url('../fonts/ptsans-webfont.ttf') format('truetype'),
       url('../fonts/ptsans-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/opensanssemibold-webfont.eot');
  src: url('../fonts/opensanssemibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensanssemibold-webfont.woff2') format('woff2'),
       url('../fonts/opensanssemibold-webfont.woff') format('woff'),
       url('../fonts/opensanssemibold-webfont.ttf') format('truetype'),
       url('../fonts/opensanssemibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/ptsansbold-webfont.eot');
  src: url('../fonts/ptsansbold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ptsansbold-webfont.woff2') format('woff2'),
       url('../fonts/ptsansbold-webfont.woff') format('woff'),
       url('../fonts/ptsansbold-webfont.ttf') format('truetype'),
       url('../fonts/ptsansbold-webfont.svg#pt_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}