::-webkit-input-placeholder {
	color: #969a9d;
}
::-moz-placeholder {
	color: #969a9d;
}
:-moz-placeholder {
	color: #969a9d;
}
:-ms-input-placeholder {
	color: #969a9d;
}
a {
	text-decoration: none;
	@include transition;
}
.form-attachment {
  position: relative;
	display: inline-block;
	@include transition;
  &:before {
    content: '';
		background: url(../images/attachment-icon.png) no-repeat;
		width: 26px;
		height: 23px;
    @include absolute-center;
  }
  &__button {
    position: absolute;
    top: 0;
    left: 0;
		width: 100%;
    height: 100%;
		opacity: 0;
  }
}
.form-field {
	border: none;
	outline: none;
}
