.chat
	h1.chat__title Диалоги:
	.chat-app
		.chat-app-top
			.row.no-gutters
				.chat-app-top__left.col-xs-12.col-md-4
					.chat-app-top-search
						input(type="text" value="" placeholder="Поиск диалогов...").form-field.chat-app-top-search__field
					a(href="#" title="").chat-app-top__button.chat-app-top__button--settings
				.chat-app-top__right.col-xs-12.col-md-8
					a(href="#" title="").chat-app-top__user-name.chat-app-top__user-name--online vik_kod
					a(href="#" title="").chat-app-top__button.chat-app-top__button--more
		.chat-app-main
			.row.no-gutters
				.chat-app-main__col.col-xs-12.col-md-4
					-for(var i=1;i<7;i++)
						if(i == 1)
							a(href="#" title="").chat-app-main-dialog.chat-app-main-dialog--active
								.chat-app-main-dialog__avatar
									img(src="http://placehold.it/55x55" alt="")
								.chat-app-main-dialog-text
									.chat-app-main-dialog-text__peer-title vik_kod
									.chat-app-main-dialog-text__msg Приветствую! Хотел бы обсудить
								.chat-app-main-dialog-meta
									.chat-app-main-dialog-meta__date вчера, 12:23
						-else if(i == 2)
							a(href="#" title="").chat-app-main-dialog.chat-app-main-dialog--unread
								.chat-app-main-dialog__avatar
									img(src="http://placehold.it/55x55" alt="")
								.chat-app-main-dialog-text
									.chat-app-main-dialog-text__peer-title vik_kod
									.chat-app-main-dialog-text__msg Приветствую! Хотел бы обсудить
								.chat-app-main-dialog-meta
									.chat-app-main-dialog-meta__date 12:23
									.chat-app-main-dialog-meta__unread 12						
						-else
							a(href="#" title="").chat-app-main-dialog
								.chat-app-main-dialog__avatar
									img(src="http://placehold.it/55x55" alt="")
								.chat-app-main-dialog-text
									.chat-app-main-dialog-text__peer-title vik_kod
									.chat-app-main-dialog-text__msg Приветствую! Хотел бы обсудить
								.chat-app-main-dialog-meta
									.chat-app-main-dialog-meta__date 12:23						
				.chat-app-main__col.col-xs-12.col-md-8
					.chat-app-main-history
						.chat-app-main-history__date Сегодня
						.chat-app-main-history__wrapper-msg
							.chat-app-main-history-msg
								.chat-app-main-history-msg-avatar
									a(href="#" title="").chat-app-main-history-msg-avatar__image
										img(src="http://placehold.it/35x35" alt="")
									.chat-app-main-history-msg-avatar__date 12:21
								.chat-app-main-history-msg-content.
									Выключить звук, это выключить все уведомления, Удалить диалоги понятно, Экспортировать -  текстовый файл
						.chat-app-main-history__wrapper-msg.chat-app-main-history__wrapper-msg--right
							.chat-app-main-history-msg.chat-app-main-history-msg--reverse
								.chat-app-main-history-msg-avatar
									a(href="#" title="").chat-app-main-history-msg-avatar__image
										img(src="http://placehold.it/35x35" alt="")
									.chat-app-main-history-msg-avatar__date 12:21
								.chat-app-main-history-msg-content.
									Выключить звук, это выключить все уведомления, Удалить диалоги понятно, Экспортировать -  текстовый файл
					.chat-app-main-bottom
						input(type="text" value="" placeholder="Написать сообщение...").chat-app-main-bottom__field.form-field
						.chat-app-main-bottom-form-attachment.form-attachment
							input(type="file").chat-app-main-bottom-form-attachment__button.form-attachment__button