head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet', href='./style/grid.min.css')
  link(rel='stylesheet', href='./style/main.min.css')